# Core
FastAPI==0.128.0
starlette==0.50.0

# Data
pydantic==2.12.5
pydantic-settings==2.12.0
email-validator==2.3.0
sqlalchemy==2.0.45

# Env and startup
uvicorn==0.40.0
python-dotenv==1.0.1

# Credentials
snowflake-id==0.0.4
bcrypt==5.0.0
python-multipart==0.0.21
PyJWT==2.10.1
itsdangerous==2.2.0

# Html
Jinja2==3.1.6

# Email
fastapi-mail==1.6.1

# Test / lint
pytest==8.4.2
pytest-asyncio==1.2.0
pytest-cov==7.0.0
httpx==0.28.1
ruff==0.13.0
