# Core
FastAPI==0.99.0

# Data
pydantic==1.10.10
sqlalchemy~=2.0.17
starlette==0.28.0

# Env and startup
uvicorn~=0.22.0
python-dotenv

# Credentials
fastapi-users
snowflake-id
bcrypt~=4.0.1
python-multipart
PyJWT~=2.7.0